<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Harmony Works Collective</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Garamond, serif;
            background-image: url('https://img.freepik.com/premium-photo/laptop-computer-blank-paper-card-sheet-glasses-fan-leaf-golden-accessories-white-background-minimalist-aesthetic-workspace-business-concept-copy-space_408798-11675.jpg');
            background-size: cover;
            background-position: center;
            color: #F4C2C2;
            text-align: center;
        }

        h1 {
            font-size: 4rem; /* Increased font size */
            margin-top: 40vh; /* Adjusted margin to center vertically */
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: bold; /* Added font weight */
            background: linear-gradient(to right, #ffec61, #f321d7, #17ead9);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: blue; /* Changed title color to blue */
            animation: glitter 3s infinite linear alternate;
        }

       
    </style>
</head>
<body>
    
    <h1>Welcome to "Harmony Works Collective"</h1>
</body>
</html>
